@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@300;500;900&display=swap');

:root {
  --color: #ec5242;
  /* --color-btn: #b19610; */
  --black: #272A31;
  --gray: #D3D3D3;
  /* --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;;
}


.header
{
  padding: 1.5rem 2rem;
  background:linear-gradient(0deg, rgba(236, 83, 66, 0.021), rgba(236, 83, 66, 0.158)), url('../images/website-startups.jpg');
  /* background: url('../images/back.jpg'); */
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y:center;
  background-blend-mode: overlay;
  
}

.headline 
{

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2.6rem;
}

.header h1
{
  color: var(--color);
  font-size: 26px;
  font-weight: 500;
}
.header .title
{
  color: var(--color);
  font-weight: 900;
  font-size: 35px;
}
.header .headline-detail
{
  background-color: rgba(252, 244, 244, 0.753);
  border: 4px solid white;
  border-radius: 3px;
  padding: 0.6rem;
  text-align: justify;
  margin: 1.6rem 0;
}
.header .timing
{
  color: white;
  font-size: 25px;
}

.works {
  background:linear-gradient(0deg, rgba(53, 51, 51, 0.9), rgba(41, 40, 40, 0.9)), url('../images/pexels-eva-bronzini-7599547.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
padding: 2rem 1.2rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.heading
{
  color: white;
  text-align: center;
}
.hr-line
{
  border: 2px solid var(--color);
  width: 60px;
  margin: auto;
  
}


.w-card
{
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  padding: 0.5rem 1rem;
  background-color: hwb(0 83% 17% / 0.199);
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 1rem;

}
.w-card h2
{
  color: var(--color);
  font-size: 16px;
  font-weight: 700;
}
.w-card p
{
  color: white;
  font-size: 11px;
  
}

.join-button
{
  background-color: var(--color);
  color: white;
  padding: 1rem 3rem;
  border: none;
  margin-top: 1rem;
  
}

.our-team
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem 0.9rem;
}

.employee 
{
  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  margin-top: 1rem;

}
.employee img
{
  width: 120px;
  background-image: url(../images/icons8-menu-50.png);
}
.employee h3
{
  font-size: 18px;
  font-weight: 900;

  margin: 0;
}
.employee h4
{
  font-size: 14px;
  font-weight: 600;
  color: var(--color);

  margin: 0;
}
.employee hr{
  width: 25px;
  margin: 6px 0;

}
.employee p
{
  font-size: 11px;

}


.partners
{
  width: 100%;
  background-color: var(--black);
  padding: 1rem;


}
.partners ul
{
  list-style: none;
  padding: 0;
  margin: 1rem 0;

}

.copyright
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  gap: 3rem;
}

.flex
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-about img
{
  width: 300px;
  padding: 1rem 1.5rem;
  border: 2px solid var(--gray);
  border-radius: 10px;
}

.past .first
{
  width: 300px;
  height: 150px;
  background: url(../images/back.jpg);
  background-size: cover;
  color: white;
  
}